<header class="header">

  <div class="header__item header__div--padding-right_40 application-name header__div--margin-left_30">
    {{appName}}
  </div>

  <div class="header__item header__item--color calendar">
    <div class="calendar__img header__div--left-right-padding_10">
      <img class="calendar__img header__img--size-20" src={{imgSrc.calendar}} alt="calendar_icon">
    </div>
    <div class="calendar__date">{{today}}</div>
  </div>

  <div class="header__item header__item--color clock">
    <div class="calendar__img header__div--left-right-padding_10">
      <img class="clock__img header__img--size-20" src={{imgSrc.clock}} alt="clock_icon">
    </div>
    <div class="clock__time">{{time}}</div>
  </div>

  <div class="header__item empty-space"></div>

  <div class="header__item message header__div--left-right-padding_10">
    <div class="message__img">
      <img class="message__img_small header__img--size-20" src={{imgSrc.email}}>
    </div>
  </div>

  <div class="header__item user-profile user-profile__div--grow_1">
    <div class="user-profile_img header__div--left-right-padding_10">
      <img src={{currentUser.image_url}} class="user-profile__img_small_circle" alt={{currentUser.getFullName()}}>
    </div>

    <div class="user-profile__name header__item--color">
      <div class="user-profile__first-name header__div--top-bottom-padding_5">{{currentUser.firstName}}</div>
      <div class="user-profile__last-name header__div--top-bottom-padding_5">{{currentUser.lastName}}</div>
    </div>
  </div>
</header>
